<html>
<head>
<title>activity_patientdetails.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #000000; font-style: italic;}
.s1 { color: #0000ff; font-weight: bold;}
.s2 { color: #000000;}
.s3 { color: #008000; font-weight: bold;}
.s4 { color: #000080; font-weight: bold;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_patientdetails.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
&lt;<span class="s4">RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span>&gt;

    &lt;<span class="s4">include </span><span class="s1">layout=</span><span class="s3">&quot;@layout/app_bar_patientdetails&quot;</span>
        <span class="s1">android:id=</span><span class="s3">&quot;@+id/app_bar_patientdetails&quot;</span>/&gt;



        &lt;<span class="s4">RelativeLayout</span>
            <span class="s1">android:layout_below=</span><span class="s3">&quot;@id/app_bar_patientdetails&quot;</span>
            <span class="s1">android:id=</span><span class="s3">&quot;@+id/rel1&quot;</span>
            <span class="s1">android:background=</span><span class="s3">&quot;@color/white&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span>&gt;

            &lt;<span class="s4">TextView</span>
                <span class="s1">android:id=</span><span class="s3">&quot;@+id/txtcomplete&quot;</span>
                <span class="s1">android:layout_marginTop=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:text=</span><span class="s3">&quot;Complete the following&quot;</span>
                <span class="s1">android:fontFamily=</span><span class="s3">&quot;@font/monsterratmed&quot;</span>
                <span class="s1">android:textSize=</span><span class="s3">&quot;24sp&quot;</span>
                <span class="s1">android:textColor=</span><span class="s3">&quot;@color/btnsignin_textcolor&quot;</span>/&gt;
            &lt;<span class="s4">Button</span>
                <span class="s1">android:id=</span><span class="s3">&quot;@+id/btnuser&quot;</span>
                <span class="s1">android:layout_toLeftOf=</span><span class="s3">&quot;@id/btnother&quot;</span>
                <span class="s1">android:layout_below=</span><span class="s3">&quot;@id/txtcomplete&quot;</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span>
                <span class="s1">android:background=</span><span class="s3">&quot;@color/transparent&quot;</span>
                <span class="s1">android:text=</span><span class="s3">&quot;User&quot;</span>
                <span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span>
                <span class="s1">android:textColor=</span><span class="s3">&quot;@color/dateselected_color&quot;</span>
                <span class="s1">android:fontFamily=</span><span class="s3">&quot;@font/monsterratbold&quot;</span>
                <span class="s1">android:textSize=</span><span class="s3">&quot;14sp&quot;</span>/&gt;
            &lt;<span class="s4">Button</span>
                <span class="s1">android:id=</span><span class="s3">&quot;@+id/btnother&quot;</span>
                <span class="s1">android:layout_alignParentRight=</span><span class="s3">&quot;true&quot;</span>
                <span class="s1">android:layout_marginRight=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:layout_below=</span><span class="s3">&quot;@id/txtcomplete&quot;</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span>
                <span class="s1">android:background=</span><span class="s3">&quot;@color/transparent&quot;</span>
                <span class="s1">android:text=</span><span class="s3">&quot;Other&quot;</span>
                <span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span>
                <span class="s1">android:textColor=</span><span class="s3">&quot;@color/darkertext&quot;</span>
                <span class="s1">android:fontFamily=</span><span class="s3">&quot;@font/monsterratbold&quot;</span>
                <span class="s1">android:textSize=</span><span class="s3">&quot;14sp&quot;</span>/&gt;

            &lt;<span class="s4">EditText</span>
                <span class="s1">android:id=</span><span class="s3">&quot;@+id/edtPatientName&quot;</span>
                <span class="s1">android:paddingLeft=</span><span class="s3">&quot;20dp&quot;</span>
                <span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;41dp&quot;</span>
                <span class="s1">android:layout_below=</span><span class="s3">&quot;@id/btnuser&quot;</span>
                <span class="s1">android:background=</span><span class="s3">&quot;@drawable/edt_signup_bg&quot;</span>
                <span class="s1">android:hint=</span><span class="s3">&quot;Patient Full Name&quot;</span>
                <span class="s1">android:inputType=</span><span class="s3">&quot;text&quot;</span>
                <span class="s1">android:textSize=</span><span class="s3">&quot;14sp&quot;</span>
                <span class="s1">android:textColorHint=</span><span class="s3">&quot;@color/hint_defaultcolor&quot;</span>
                <span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:layout_marginRight=</span><span class="s3">&quot;30dp&quot;</span>/&gt;



            &lt;<span class="s4">EditText</span>
                <span class="s1">android:id=</span><span class="s3">&quot;@+id/edtPhone&quot;</span>
                <span class="s1">android:paddingLeft=</span><span class="s3">&quot;20dp&quot;</span>
                <span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;41dp&quot;</span>
                <span class="s1">android:layout_below=</span><span class="s3">&quot;@id/edtPatientName&quot;</span>
                <span class="s1">android:background=</span><span class="s3">&quot;@drawable/edt_signup_bg&quot;</span>
                <span class="s1">android:hint=</span><span class="s3">&quot;Mobile Number&quot;</span>
                <span class="s1">android:inputType=</span><span class="s3">&quot;phone&quot;</span>
                <span class="s1">android:textSize=</span><span class="s3">&quot;14sp&quot;</span>
                <span class="s1">android:textColorHint=</span><span class="s3">&quot;@color/hint_defaultcolor&quot;</span>
                <span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:layout_marginRight=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;20dp&quot;</span>/&gt;



        &lt;/<span class="s4">RelativeLayout</span>&gt;

        &lt;<span class="s4">RelativeLayout</span>
            <span class="s1">android:background=</span><span class="s3">&quot;@color/white&quot;</span>
            <span class="s1">android:layout_alignParentBottom=</span><span class="s3">&quot;true&quot;</span>
            <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_below=</span><span class="s3">&quot;@id/rel1&quot;</span>
            <span class="s1">android:layout_marginTop=</span><span class="s3">&quot;5dp&quot;</span>&gt;

            &lt;<span class="s4">ImageView</span>
                <span class="s1">android:id=</span><span class="s3">&quot;@+id/placeholder&quot;</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;19dp&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;19dp&quot;</span>
                <span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span>
                <span class="s1">android:layout_marginRight=</span><span class="s3">&quot;15dp&quot;</span>
                <span class="s1">android:src=</span><span class="s3">&quot;@drawable/icon_placeholder&quot;</span>/&gt;

            &lt;<span class="s4">TextView</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_toRightOf=</span><span class="s3">&quot;@id/placeholder&quot;</span>
                <span class="s1">android:text=</span><span class="s3">&quot;Location&quot;</span>
                <span class="s1">android:textSize=</span><span class="s3">&quot;18sp&quot;</span>
                <span class="s1">android:textColor=</span><span class="s3">&quot;@color/textcolor&quot;</span>
                <span class="s1">android:layout_marginTop=</span><span class="s3">&quot;17dp&quot;</span>
                <span class="s1">android:fontFamily=</span><span class="s3">&quot;@font/monsterratmed&quot;</span>/&gt;

            &lt;<span class="s4">EditText</span>
                <span class="s1">android:id=</span><span class="s3">&quot;@+id/edtStreet&quot;</span>
                <span class="s1">android:paddingLeft=</span><span class="s3">&quot;20dp&quot;</span>
                <span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;41dp&quot;</span>
                <span class="s1">android:layout_below=</span><span class="s3">&quot;@id/placeholder&quot;</span>
                <span class="s1">android:background=</span><span class="s3">&quot;@drawable/edt_signup_bg&quot;</span>
                <span class="s1">android:hint=</span><span class="s3">&quot;House No., Building and Street Name&quot;</span>
                <span class="s1">android:textSize=</span><span class="s3">&quot;14sp&quot;</span>
                <span class="s1">android:inputType=</span><span class="s3">&quot;text&quot;</span>
                <span class="s1">android:textColorHint=</span><span class="s3">&quot;@color/hint_defaultcolor&quot;</span>
                <span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:layout_marginRight=</span><span class="s3">&quot;30dp&quot;</span>/&gt;

            &lt;<span class="s4">Spinner</span>
                <span class="s1">android:id=</span><span class="s3">&quot;@+id/spinnerProvince&quot;</span>
                <span class="s1">android:layout_below=</span><span class="s3">&quot;@id/edtStreet&quot;</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;165dp&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;41dp&quot;</span>
                <span class="s1">android:layout_marginRight=</span><span class="s3">&quot;20dp&quot;</span>
                <span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span>
                <span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:background=</span><span class="s3">&quot;@drawable/spinner_bg&quot;</span>
                <span class="s1">android:inputType=</span><span class="s3">&quot;text&quot;</span>
                <span class="s1">android:textSize=</span><span class="s3">&quot;14sp&quot;</span>
                <span class="s1">android:textColor=</span><span class="s3">&quot;@color/hint_defaultcolor&quot; </span>/&gt;

            &lt;<span class="s4">Spinner</span>
                <span class="s1">android:id=</span><span class="s3">&quot;@+id/spinnerCity&quot;</span>
                <span class="s1">android:layout_below=</span><span class="s3">&quot;@id/edtStreet&quot;</span>
                <span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;165dp&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;41dp&quot;</span>
                <span class="s1">android:background=</span><span class="s3">&quot;@drawable/edt_signup_bg&quot;</span>
                <span class="s1">android:textSize=</span><span class="s3">&quot;14sp&quot;</span>
                <span class="s1">android:layout_toRightOf=</span><span class="s3">&quot;@id/spinnerProvince&quot;</span>
                <span class="s1">android:textColor=</span><span class="s3">&quot;@color/hint_defaultcolor&quot;</span>
                <span class="s1">android:layout_marginRight=</span><span class="s3">&quot;30dp&quot;</span>/&gt;

            &lt;<span class="s4">Spinner</span>
                <span class="s1">android:id=</span><span class="s3">&quot;@+id/spinnerBarangay&quot;</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;41dp&quot;</span>
                <span class="s1">android:layout_below=</span><span class="s3">&quot;@id/spinnerCity&quot;</span>
                <span class="s1">android:background=</span><span class="s3">&quot;@drawable/edt_signup_bg&quot;</span>
                <span class="s1">android:textSize=</span><span class="s3">&quot;14sp&quot;</span>
                <span class="s1">android:textColor=</span><span class="s3">&quot;@color/hint_defaultcolor&quot;</span>
                <span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:layout_marginRight=</span><span class="s3">&quot;30dp&quot; </span>/&gt;


            &lt;<span class="s4">Button</span>
                <span class="s1">android:id=</span><span class="s3">&quot;@+id/btnContinue&quot;</span>
                <span class="s1">android:layout_below=</span><span class="s3">&quot;@id/spinnerBarangay&quot;</span>
                <span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s3">&quot;41dp&quot;</span>
                <span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:layout_marginRight=</span><span class="s3">&quot;30dp&quot;</span>
                <span class="s1">android:text=</span><span class="s3">&quot;Continue&quot;</span>
                <span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span>
                <span class="s1">android:textColor=</span><span class="s3">&quot;@color/white&quot;</span>
                <span class="s1">android:textSize=</span><span class="s3">&quot;14sp&quot;</span>
                <span class="s1">android:fontFamily=</span><span class="s3">&quot;@font/monsterratbold&quot;</span>
                <span class="s1">android:background=</span><span class="s3">&quot;@drawable/btnsignup_bg&quot;</span>
                <span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;30dp&quot;</span>/&gt;



        &lt;/<span class="s4">RelativeLayout</span>&gt;


&lt;/<span class="s4">RelativeLayout</span>&gt;</pre>
</body>
</html>